
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
}


.nav-bar .top-menu span{
    border-top: 3px solid #ffc000;
    border-bottom: 3px solid #ffc000;
    font-size: 20px;
    font-weight: bolder;
    
}

.nav-bar .top-menu{
    margin-top: 10px;
}

.nav-bar{
    display: flex;
    justify-content: space-around;
    background-color: rgb(27, 26, 26);
    color: #fff;
}

.right-menu ul li{

    padding: 0px;
    width: 150px;
    list-style: none;
    border-right: 1px solid;
    text-align: center;
}

.right-menu ul{
    display: flex;
}

.right-menu ul i{
    margin: 10px 5px 0 0;
    font-size: 23px;
    color: #ffc000;
}

.right-menu ul #no1{
    margin-right: 30px;

}

.right-menu ul #no3, #no4, #no5{
    width: 70px;
    text-align: center;
}
.right-menu ul #no5{
    border: none;
}

/***Menu Bar Section***/

.home{
    position: relative;
    min-height: 100vh;
    background: url(../imgs/coporate-man.jpg);
    background-size: cover;
    background-position: center;
}


.menu-bar{
    display: flex; 
    margin-left: 90px;
}

.links ul{
    display: flex;
    list-style: none;
    margin-right: 20px;
}

.links ul li{
    margin: 0 30px;
}

.links ul li a{
    color: #fff;
    font-size: 20px;
}

.menu-bar .right-button{
    margin-left: 300px;
    margin-top: 20px;
}

.menu-bar a{
    text-decoration: none;
    font-weight: bolder;
}

.right-button a{
    background-color: #ffc000;
    color: #fff;
    padding: 10px;
}

.menu-bar .links{
    margin-top: 10px;
}


.home .body{
    
    margin-top: 100px;
    text-align: center;
    
}

.body .content span{
    font-size: 43px;
    font-weight: bolder;
    color: #fff;
  
}

.body .content{
    width: 550px;
    text-align: center;
    margin-left: 400px;
}

.body .links a{
    padding: 5px;
    text-decoration: none;
    color: #fff;
    border: 1px solid;
    margin: 0 10px;
}

/***Features section***/

.features .header p{
    font-size: 33px;
    background-color: rgb(245, 236, 236);
    text-align: center;padding: 10px;
}

.features .body .item-1, .item-2{
    display: flex;
    background-color: rgb(245, 236, 236);
    padding: 20px 100px;
    margin: 0px;

}

.features .body{
    margin: 0px;
    background-color: rgb(148, 7, 7);
}

.features .body .items{
    background-color: #fff;
    padding: 20px 20px;
    margin: 10px;
    
}

.features .body .items p{
    color: rgb(134, 129, 129);
}

.features .body .items i{
    background-color: rgb(245, 236, 236);
    font-size: 40px;
    padding: 15px;
    border-radius: 50%;
    border: 1px solid rgb(206, 199, 199);
    color: #ffc000;
    margin-left: 120px;
    margin-bottom: 10px;
}

/***Work Process***/


.work-process .content{
    display: flex;
    margin: 20px 100px;
}

.work-process p{
    text-align: center;
    font-size: 30px;
    color: rgb(95, 86, 86);
    
}

.work-process .content img{
    width: 600px;
    height: 500px;
    margin-right: 40px;
    border-radius: 15px;
}

.work-process .list ul{
    counter-reset: count-list;
    list-style: none;
}

.work-process .list ul li{
    padding: 14px 0;
}

.work-process .list ul h4{
    position: relative;
    color: rgb(87, 83, 83);
}

.work-process .list ul h6{
    color: rgb(165, 158, 158);
}

.work-process .list ul h4::before{
    counter-increment: count-list;
    content: counter(count-list);
    position: absolute; left: -40px; top: 12px;
    background-color: #ffc000;
    border-radius: 50%;
    padding: 5px 12px;
}

.create-account{
    background-color: #ffc000;
    height: 250px;
}

.create-account .text{
    text-align: center;
    padding-top: 60px;
}

.create-account .links{
    text-align: center;
}

.create-account .text p{
    color: #fff;
    font-size: 20px;
}

.create-account .links a{
    background-color: #fff;
    color: #ffc000;
    border-radius: 20px;
    padding: 5px 8px;
    text-decoration: none;
    margin: 0 5px;
}

.price ul li{
    list-style: none;
    border-bottom: 1px solid;
    padding: 15px 0px;
}

.pricing .price-list{
    display: flex;
    justify-content: center;
    margin: 0 15px;
}

.price .title p{
    background-color: #ffc000;
    color: #fff;
    padding: 10px 20px;
    height: 70px;
    font-size: 20px;
    
}

.price{
    padding: 0px 30px 10px;
    position: relative;
    background-color: rgb(226, 224, 224);
    margin: 0px 15px;

    
    
}

.price #sub-text{
    
    text-align: center;

}

.price .recommend p{ 
    background-color: black;
    color: #fff;
    padding: 5px 10px;
    border-radius: 30px;
    text-align: center;
    width: 200px;
    position: absolute; right: 100px; top: 50px;
}

.price ul a{
    text-align: center;
    background-color: #ffc000;
    color: #fff;
    text-decoration: none;
    margin-left: 60px;
    margin-top: 30px;
    padding: 5px 10px;
    border-radius: 5px;
}

.price ul p{
    margin-left: -30px;
    margin-top: 10px;
    color: rgb(97, 95, 95);
    font-weight: 400;
}

.pricing p{
    text-align: center;
}

.pricing #top{
    font-size: 25px;
}

.users span{
    text-align: center;
    font-size: larger;
}

.users span #big{
    font-size: 1.5rem;
    color: rgb(143, 139, 139);
    font-weight: 600;
}

.comments-container{
    display: flex;
    margin: 50px 100px;

}

.comments-container .comments{
    margin: 0px 50px;
    position: relative;
    background-color: rgb(248, 245, 245);
    padding: 15px;

}

.comments-container .comments i{
    font-size: 30px;
    position: absolute; left: -40px; top: -15px;
    background-color: #ffc000;
    width: 35px;
    text-align: center;
    border-radius: 50%;
}

.comments .member{
    display: flex;
    margin-top: 20px;
}

.comments .member img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid;
    margin-right: 10px;
}

.team h3, p{
    text-align: center;
    color: rgb(145, 140, 140);
    font-weight: 600;
}

.team .images{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 20px;
}

.team .images .image{
    position: relative;
}

.team .images .image img{
    width: 300px;
    height: 400px;
    margin: 0px 10px;
    box-sizing: border-box;
}

.team .image .text h5, h6{
    text-align: center;
}

.team .image .text{
    background-color: rgb(213, 238, 238);
    padding: 10px;
    padding-top: 20px;
    width: 250px;
    position: absolute; bottom: -40px; left: 35px;
    box-shadow: 0 0.3rem .5rem rgb(19, 18, 18);
}

.team .image .social-media{
    background-color: rgb(20, 19, 19);
    padding: 8px 25px;
    border-radius: 20px;
    position: absolute; bottom: 25px; left: 70px;
    box-shadow: 0 0.3rem .5rem rgb(19, 18, 18);
}

.team .image .social-media i{
    font-size: 20px;
    color: #ffc000;
    margin: 0px 10px;
}

.footer{
    display: flex;
    justify-content: center;
    background-color: rgb(39, 35, 35);
    
}
.footer .body{
    width: 270px;
    color: #fff;
    margin-top: 40px;
}

.footer .body ul{
    list-style: none;
}

.footer .body ul a{
    text-decoration: none;
    color: #fff;
}

.footer .body ul a i{
    margin-right: 10px;
}

.footer .body ul li{
    margin: 10px 0;
}

.footer .body ul a:hover{
    color: #ffc000;
    text-decoration: underline;
}